<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE" />
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />
    <queries><package android:name="moe.n4tsu.dextop" /></queries>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_cardex_driving"
        android:roundIcon="@mipmap/ic_cardex_driving"
        android:label="Dextop・Driving">
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data android:name="androidx.car.app.minCarApiLevel" android:value="2" />
        <service android:name=".DrivingCarAppService" android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
            </intent-filter>
        </service>
    </application>
</manifest>
